<footer class="footer">
    <div class="container">
      <div class="columns">
        <div class="column is-two-fifths is-hidden-mobile">
          <span class="copyright">© 2020–2021 RandomCompany.</span><br />
          RandomCompany is a registered trademark in the United States and
          other countries. <br />
          <br />
          For media inquiries, contact
          <a href="mailto:press@randomcompany.org">press@randomcompany.org</a>
        </div>
        <div class="column">
          <strong>Company</strong>
          <ul>
            <li><a href="/donate/">Donate</a></li>
            <li><a href="/workworkwork/">Careers</a></li>
            <li><a href="/blog/">Blog</a></li>
            <li><a href="/legal/">Terms &amp; Privacy Policy</a></li>
          </ul>
        </div>
        <div class="column">
          <strong>Download</strong>
          <ul>
            <li><a href="/download/android">Android</a></li>
            <li><a href="/download/ios">iPhone &amp; iPad</a></li>
            <li><a href="/download/windows">Windows</a></li>
            <li><a href="/download/macos">Mac</a></li>
            <li><a href="/download/linux">Linux</a></li>
          </ul>
        </div>
        <div class="column">
          <strong>Social</strong>
          <ul>
            <li><a href="https://github.com" target="_blank">GitHub</a></li>
            <li><a href="https://twitter.com" target="_blank">Twitter</a></li>
            <li>
              <a href="https://www.instagram.com" target="_blank"
                >Instagram</a
              >
            </li>
          </ul>
        </div>
        <div class="column is-two-fifths is-hidden-tablet">
          <span class="copyright">© 2013–2021 Signal, a 501c3 nonprofit.</span
          ><br />
          Signal is a registered trademark in the United States and other
          countries. <br />
          <br />
          For media inquiries, contact
          <a href="mailto:press@signal.org">press@signal.org</a>
        </div>
      </div>
    </div>
  </footer>